

{% extends "base.html"%}
{% block container %}


<!--------------Content---------------->
<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block03">
			<div class="">
				<div class="wrap-col">
					<article>
						<!--<img src="{{STATIC_URL}}images/rutaPotosi.png"/>-->
						{{v}}<br>
						{{s}}<br>
						{{c}}<br>
						{{b}}<br>
						{{r}}<br>
						<h2><a href="#">FACTURA DE COMPRA</a></h2>
						{{ algo }}
							
						<div class="comment">
							
							<form method="POST" action="">
								{% csrf_token %}
								{{formulario.as_p}}
								<div><input type="submit" name="value" value="Guardar"></div>
							</form>
						</div>
						
						
					</article>
					
				</div>
			</div>
			
		</div>
	</div>
</section>
<!--------------Footer------------------>
<footer>
	<div class="wrap-footer zerogrid">
		<div class="row block09">
			
		</div>
		
		<div class="row copyright">
			<p>Copyright © 2014- Angela & Gualy</p>
		</div>
	</div>
</footer>

{%endblock%}