{% extends "turismo.html"%}
{% block ciudades %}


<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block03">
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/BUSBUENO.png"/></li>
						<h2><a href="#">VISITALO</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/la paz.png"/>
						<p>palacio de gobierno ciudad de La Paz.</p>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz1.png"/>
						<p>La Paz de noche y e fondo el Illimani.</p>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz2.png"/>
						<p>.</p>
					</article>
				</div>
			</div>
		</div>
		<div class="row block03">
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz3.png"/>
						<p>Avenidas centrales de la ciudad de La Paz nocturna.</p>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz4.png"/>
						<p>Atardecer por el centro de la ciudad de La Paz.</p>
					</article>
				</div
							</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz.5.png"/>
						
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz6.png"/>
						
					</article>
				</div>
			</div>
		</div>
		<div class="row block03">
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz7.png"/>
						
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz8.png"/>
						
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz9.png"/>
						
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/lapaz10.png"/>
						
					</article>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock%}