{% extends "turismo.html"%}
{% block ciudades %}




<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block03">
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/potosi.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/potosi1.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/potosi3.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/potosi4.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
		</div>
		<div class="row block03">
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/potosi5.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/potosi7.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/potosi8.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/potos7.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
		</div>
		<div class="row block03">
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/p1.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/p2.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/p3.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/p4.png"/>
						<h2><a href="#">Potosí</a></h2>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock%}