{% extends "base.html"%}
{% block container %}
<center>
<div class="content">
<div class="container-fluid">
    <div class="row-fluid">

      <div class="span12">  

                   <div class="well login-register">
                   
                   <h5>Cambio de password</h5>
                   <hr />
                   <form action="" method="post">
                        {% csrf_token %}
                        <div>
                          {{formulario2}}
                          {{algo}}
                          <br>
                         {{formulario}}
                         <p>
                    <button type="submit" class="btn btn-danger" >Enviar</button> 
                    <button type="reset" class="btn btn-danger" value="Borrar">Borrar</button>       
                    </p>
                    </div>               
                    </form>
                        Already have an Account? <a href="db/menu/">Login</a>
                      </div> 
                    

                   </div>

      </div>

    </div>
  </div>

</div>
</center>
{%endblock%}