{% extends "base.html" %}
{% block container %}
<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block03">
			<div class="col-2-3">
				<div class="wrap-col">


						<h1>Hola mundo desde formulario Rutas</h1>

						<form action="" method="POST">
							{% csrf_token %}

							<!--<select name="algo">
							{% for variable in datos %}
								<option value="{{ variable }}">{{ variable }}</option>
								{{ variable }}
							{% endfor %}
							</select>-->

							{{ formularioSalidas.as_p }}
							<button type="submit" value="GUARDAR">GUARDAR</button>
							<button type="reset" value="BORRAR">BORRAR</button>

						</form>
						<h2>Esto es el final del formulario</h2>
							{{ "Hola mundo" }}
				</div>
			</div>
			<!--<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h2>Latest Albums</h2></div>
						<div class="content">
							<img src="images/albums.png"/>
						</div>
					</div>
					<div class="box">
						<div class="heading"><h2>Upcoming Events</h2></div>
						<div class="content">
							<div class="list">
								<ul>
									<li><a href="#">Magic Island Ibizacmd</a></li>
									<li><a href="#">Bamboo Is Just For You</a></li>
									<li><a href="#">Every Hot Summer</a></li>
									<li><a href="#">Magic Island Ibiza</a></li>
									<li><a href="#">Bamboo Is Just For You</a></li>
									<li><a href="#">Every Hot Summer</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</section>
<!--------------Footer-------------->
<footer>
	<div class="wrap-footer zerogrid">
		
		
		<div class="row copyright">
			<p>Copyright © 2014 - Angela & Gualy </p>
		</div>
		<!--div class="row copyright">
			<p>Copyright © 2013 - <a href="http://www.zerotheme.com/432/free-responsive-html5-css3-website-templates.html" target="_blank">Free Html5 Templates</a> by <a href="http://www.zerotheme.com" target="_blank">Zerotheme.com</a></p>
		</div-->
	</div>
</footer>
{% endblock %}
