{% extends "turismo.html"%}
{% block ciudades %}


<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block03">
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz1.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz2.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz3.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
		</div>
		<div class="row block03">
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz4.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz5.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz12.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz6.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
		</div>
		<div class="row block03">
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz7.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz8.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz9.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<article>
						<img src="{{STATIC_URL}}images/santacruz11.png"/>
						<h2><a href="#">Ciudad de Santa Cruz</a></h2>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock%}