{% extends "base.html"%}
{% block container %}

<nav>
	<div class="zerogrid">
		<div id='cssmenu'>
			<ul>
			   <li><a href='/db/menu/ciudades/lapazlink'><span>LA PAZ</span></a></li>
			   <li><a href='/db/menu/ciudades/orurolink'><span>ORURO</span></a></li>
			   <li><a href='/db/menu/ciudades/potosilink'><span>POTOSI</span></a></li>
			   <li><a href='/db/menu/ciudades/cochabambalink'><span>COCHABAMBA</span></a></li>
			   <li><a href='/db/menu/ciudades/santa_cruzlink'><span>SANTA CRUZ</span></a></li>
			   </li>
			</ul>
		</div>
	</div>
</nav>


	{% block ciudades %}
	{% endblock %}


<!--------------Footer-------------->
<footer>
	<div class="wrap-footer zerogrid">
		
		
		<div class="row copyright">
			<p>Copyright © 2014 - Angela & Gualy </p>
		</div>
	</div>
</footer>

{% endblock %}